header, nav, main, footer { display: block; }

* {
box-sizing: border-box;
}

.wrapper {
background-color: #fef6c2;
min-width: 900px;
max-width: 1280px;
margin-right: auto;
margin-left: auto;
box-shadow: 10px 5px 5px black;
}
nav { background-color: #231814; }

.header {
background-image: url("javajamlogo.jpg");
background-repeat: no-repeat;
height: 150px;
background-color: #d2b48c;
}

.details {
padding-left: 20%;
padding-right: 20%;
overflow: auto;
}

.floatleft {
float: left;
padding-right: 2em;
padding bottom: 2em;
}

body {
background-image: url('background.gif');
background-color: #fcebb6;
color: #221811;
font-family: "Verdana";
}

h1 {
padding-top: 45px;
padding-left: 0px;
font-size: 3em;
text-align: center;
background-color: #d2b48c;
}

nav {
font-size: 1.5em;
padding-top: 10px;
text-align: center;
font-weight: bold;
float: left;
width: 200px;
}

nav a {
text-decoration: none;
}

nav a:link { color: #FEF6C2; }
nav a:visited { color: #D2B48C; }
nav a:hover { color: #CC9933; }

footer {
padding-bottom: 10px;
border-top: 2px solid #221811;
background-color: #D2B48C;
font-size: .60em;
font-style: italic;
text-align: center;
}

h4 {
background-color: #d2b48c;
font-size: 1.2em;
padding-left: .5em;
padding-bottom: .25em;
}

main {
background-size: cover;
background-color: #FEF6C2;
padding-left: 0px;
padding-right: 0px;
margin-left: 200px;
padding-top: 0px;
padding-bottom: 2em;
}

h2 {
padding-left: 3em;
padding-right: 2em;
}

h3 {
padding-left: 3em;
padding-right: 2em;
}

h4 {
padding-left: 3em;
padding-right: 2em;
text-transform: uppercase;
border-bottom: solid;
padding-bottom: 0px;
clear: left;
}

p {
padding-left: 3em;
padding-right: 2em;
}

div {
padding-left: 3em;
padding-right: 2em;
}

ul {
padding-left: 0em;
padding-right: 2em;
list-style-type: none;
}

dl {
padding-left: 3em;
padding-right: 2em;
}

img {
padding-left: 10px;
padding-right: 10px;
}

.heroroad {
background-image: url('heroroad.jpg');
background-size: 100%;
background-height 250px;
}

.heromugs {
background-image: url('heromugs.jpg');
background-size: 100%;
background-height 250px;
}

.heroguitar {
background-image: url('heroguitar.jpg');
background-size: 100%;
background-height 250px;
}